@import "components/buttonLink";

@import '_variables.scss';
@import './foundation/scss/normalize';
@import './foundation/scss/foundation';

@import "components/notificationContainer";
@import "components/header";
@import "components/breadcrumbs";
@import "components/loading";
@import "components/carousel";
@import "components/userRating";
@import "components/validation";

@import "views/home";
@import "views/movie";
@import "views/person";
@import "views/profile";

.nt-app {
  background-image: url("/neo4j_background3.gif");
}

.nt-box {
  border: 1px solid lightgrey;
  border-radius: .5rem;
  padding: .2rem;
  background: #FFFFFF;

  &-title {
    padding: .5rem;
    color: saddlebrown;
    font-size: 1.2rem;
  }

  &-row {
    padding: .5rem;
    margin: 0;
  }
}

ul {
  list-style: none;
  li {
    display: inline-block;
    width: auto;
    padding: .5rem;
  }
}
