.buttonLink {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: inline;
  cursor: pointer;
  color: #008CBA;

  &:hover {
    color: #0078a0;
    background-color: inherit;
  }
}