.nt-user-rating {
  &-star {
    font-size: 1.5rem;
    line-height: 1.5rem;
    float: left;
  }

  &-delete {
    float: left;
    font-size: .8rem;
    line-height: 1.5rem;
    padding-left: .5rem;
    text-decoration: underline;
  }
}