.validation {
  input {
    margin-bottom: 0.1em;
  }
}

.validation-summary {
  padding: .8rem 0;
}

.validation-msg {
  color: #C70000;
  height: 1.2em;
  line-height: 1em;
  @extend .mark-validation-msg;
}

.mark-validation-msg {
  &::before {
    content: "\26a0";
    font-size: 1em;
    margin-right: 0.5em;
  }

  &:empty {
    &::before {
      content: "";
    }
  }
}