<div class="container owl-slider">
    <!-- Primary movie carousel grid -->
    <div class="row">
      <div class="span12">
        <div id="owl-example" class="owl-carousel">
          <a href="/index.html#/movies/The Matrix">
          <div class="item" style="background-image: url('/assets/img/posters/The Matrix.jpg'); background-position: center -9px;">
              <h3>The Matrix</h3>
          </div>
        </a>
        <a href="/index.html#/movies/The Matrix Reloaded">
           <div class="item" style="background-image: url('/assets/img/posters/The Matrix Reloaded.jpg'); background-position: center -9px;">
              <h3>The Matrix</h3>
              <h4>Reloaded</h4>
          </div>
        </a>
        <a href="/index.html#/movies/The Matrix Revolutions">
           <div class="item" style="background-image: url('/assets/img/posters/The Matrix Revolutions.jpg'); background-position: center -6em;">
              <h3>The Matrix</h3>
              <h4>Revolutions</h4>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
  <div class="container owl-slider">
    <!-- Movie category carousel grid 1 -->
    <h4 class="hidden-content">Action</h4>
    <div id="owl-demo-1" carousel="movies" data-genre="Action" class="owl-carousel owl-theme">
    </div>
  </div>
  <div class="container owl-slider">
    <!-- Movie category carousel grid 1 -->
    <h4 class="hidden-content">Drama</h4>
    <div id="owl-demo-2" carousel="movies" data-genre="Drama" class="owl-carousel owl-theme">
     
    </div>
  </div>
  <div class="container owl-slider">
    <!-- Movie category carousel grid 3 -->
    <h4 class="hidden-content">Sci-Fi</h4>
    <div id="owl-demo-3" carousel="movies" data-genre="Sci-Fi" class="owl-carousel owl-theme">
     
    </div>
  </div>
  <div class="container owl-slider">
    <!-- Movie category carousel grid 3 -->
    <h4 class="hidden-content">Fantasy</h4>
    <div id="owl-demo-3" carousel="movies" data-genre="Fantasy" class="owl-carousel owl-theme">
     
    </div>
  </div>
  <div class="container owl-slider">
    <!-- Movie category carousel grid 3 -->
    <h4 class="hidden-content">Adventure</h4>
    <div id="owl-demo-3" carousel="movies" data-genre="Adventure" class="owl-carousel owl-theme">
     
    </div>
  </div>
  </div>