<div class="container hidden-content" ng-model="movie">
  <div class="row">
    <div>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Movies</a></li>
        <li class="active">{{people.name}}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
      <div class="row">
        <div class="col-md-12">
          <h3 class="content-title">{{people.name}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <!-- <ul class="nav nav-pills item-nav">
              <li class="active"><a href="#">Details</a></li>
              <li><a href="#">Related</a></li>
            </ul> -->
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Detail</div>
              

              <!-- List group -->
              <ul class="list-group list-group-details">
                <!-- <li class="list-group-item">
                  <div class="panel-heading">Bio: <span class="panel-heading">{people.bio}</span></div>
                </li> -->
                <li class="list-group-item">
                  <div class="panel-heading">Born: <span class="panel-heading">{{people.born}}</span></div>
                </li>
              </ul>
            </div>
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Movies</div>
              <div class="panel-body">
                <div id="owl-demo-cast" carouselpeoplemovies="people" class="owl-carousel owl-theme actors">
                  <!-- Actors -->
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Related</div>
              <div class="panel-body">
                <div id="owl-demo-cast" carouselrelatedpeople="people" class="owl-carousel owl-theme actors">
                  <!-- Related movies -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="thumbnail">
              <img class="people-thumbnail" ng-src="{{people.poster_image}}" alt="{{people.name}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>