.nt-home {

  &-header {
    text-align: center;
  }

  .nt-box {
    margin-bottom: 1rem;
  }

  &-featured {
    ul {
      list-style: none;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      li {
        padding: 1rem;
      }
    }
  }

  &-by-genre {
    ul {
      list-style: none;
      li {
        display: inline-block;
        width: auto;
        padding: .5rem;
      }
    }
  }
}
