.nt-movie {

  .nt-box {
    margin-bottom: 1rem;
  }

  &-title {
    text-align: center;
  }

  &-rating {
    overflow: hidden;

    strong {
      float: left;
    }
  }

  &-poster {
    width: 100%;
  }

  &-aside {
    .nt-box {
      margin-top: 1rem;
    }
  }
}

